/* universel style  */
* {
    margin: 0;
    padding: 0;
}

/* universel style end */

/* Shear style  */

body {
    font-family: "Inter", sans-serif;
}

.share-btn,.works-btn:hover {
    padding: 12.5px 16px;
    color: white;
    background-color: #30b868;
    border-radius: 4px;
    border: solid #30b868 2px;
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 16px;
}

.share-btn:hover {
    background-color: transparent;
    border: solid #30b868 2px;
    color: #30b868;
}


.container {
    max-width: 1360px;
    margin: 16px auto;
}

.share-description {
    color: #627382;
}

/* Shear style end */



/* header style  */
header {
    max-width: 1600px;
    margin: auto;
}


/* nav style  */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.header-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}


/* nav style end  */



/* hero style  */
#header-hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    text-align: center;
}

.hero-details-container {
    max-width: 770px;
    margin: 0 auto;
    color: #fff;
    padding: 165.5px 295px 179.5px;
}

.hero-heading {
    font-weight: bold;
    font-size: 72px;
    text-transform: capitalize;


}

.hero-heading span {
    color: #30b868;
}

.hero-section-description {
    size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 32px;
}
.hero-btn-container{
    display: flex;
    justify-self: center;
    gap: 16px;
}

.works-btn {
    background-color: transparent;
    border: solid white 2px;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;

}


/* header style end  */