/* universal style  */
* {
    margin: 0;
    padding: 0;
}

/* universal style end */

/* Shear style  */

body {
    font-family: "Inter", sans-serif;
}

header,
main,
footer {
    /* max-width: 1600px; */
    margin: auto;
}

.share-btn,
.works-btn:hover {
    padding: 16px;
    color: white;
    background-color: #469165;
    border-radius: 4px;
    border: solid #469165 2px;
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 16px;
    cursor: pointer;
}

.share-btn:hover {
    background-color: transparent;
    border: solid #469165 2px;
    color: #469165;
}

.container {
    max-width: 80%;
    margin: 16px auto;
}

.share-description {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.structure-header,
.second-brain-header {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-transform: capitalize;
}

section#structure,
section#second-brain-section,
section#think-more-clearly {
    margin-bottom: 120px;
}


h1.second-brain-header,
.think-more-clearly-header {
    margin-bottom: 16px;
}

/* Shear style end */
/* header style  */


/* nav style  */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icon {
    cursor: pointer;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.header-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.header-button button {
    padding: 12.5px 16px;
}

/* nav style end  */

/* hero style  */
#header-hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    text-align: center;
}

.hero-details-container {
    max-width: 77%;
    margin: 0 auto;
    color: #fff;
    padding: 11.7917% 10.5833% 14.9583%;
}
.hero-heading {
    font-weight: bold;
    font-size: 72px;
    text-transform: capitalize;
}

.hero-heading span {
    color: #469165;
}

.hero-section-description {
    size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 32px;
}

.hero-btn-container {
    display: flex;
    justify-self: center;
    gap: 16px;
}

.works-btn {
    background-color: transparent;
    border: solid white 2px;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;

}


/* header style end  */

/* structure style  */


.structure-header-container {
    text-align: center;
    margin-top: 115px;
    color: #001931;
    margin-bottom: 44px;
}



.structure-card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.structure-card {
    max-width: 274px;
    text-align: center;
    padding: 70px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.structure-card img {
    background: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.structure-card .structure-card-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* structure style end  */


/* second brain style  */

.second-brain-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}



.second-brain-description {
    margin-bottom: 40px;
}

.second-brain-ul li {
    margin-bottom: 16px;
    list-style: none;
    color: #001931;
}

.second-brain-ul li i {
    color: #469165;
}


/* secound brain style end  */

/* think more clearly section  */

.think-more-clearly-container {
    background: #F7F6F2;
    border-radius: 12px;
}

.think-more-clearly-child-container {
    text-align: center;
    padding: 80px 40px;

}

h2.think-more-clearly-header {
    font-size: 40px;
}

p.think-more-clearly-description-main {
    line-height: 24px;
    margin-bottom: 24px;
}

button.get-early-access-button {
    margin-bottom: 16px;
}

/* think more clearly section end  */


/* footer style  */

/* footer social section style  */
footer {
    background-color: #001931;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 120px 84px 120px;
    margin: 0 auto;
}

.footer-social-container {
    color: white;
}

h3.footer-social-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

ul.footer-social-icon-ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

ul.footer-social-icon-ul li {
    list-style: none;
}

ul.footer-social-icon-ul li {
    list-style: none;
}



ul.footer-social-icon-ul li a {
    color: #001931;
    background: white;
    padding: 3px;
    border-radius: 50px;
}

/* footer social style end  */


/* footer copy right style  */
.footer-copy-right-container {
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
}

.footer-copy-right-container p {
    margin: 30px;
}

/* footer copy right style end  */

/* footer style end  */