/* universel style  */
* {
    margin: 0;
    padding: 0;
}

/* universel style end */

/* Shear style  */

body {
    font-family: "Inter", sans-serif;
}

.share-btn,
.works-btn:hover {
    padding: 16px;
    color: white;
    background-color: #469165;
    border-radius: 4px;
    border: solid #469165 2px;
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 16px;
    cursor: pointer;
}

.share-btn:hover {
    background-color: transparent;
    border: solid #469165 2px;
    color: #469165;
}

.container {
    max-width: 1360px;
    margin: 16px auto;
}

.share-description {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.structure-header,
.second-brain-header {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-transform: capitalize;
}

section#structure,
section#second-brain-section,
section#think-more-clearly {
    margin-bottom: 120px;
}


h1.second-brain-header,.thik-more-clearly-header{
    margin-bottom: 16px;
}

/* Shear style end */
/* header style  */
header,
main {
    max-width: 1600px;
    margin: auto;
}

/* nav style  */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icon {
    cursor: pointer;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.header-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.header-button button {
    padding: 12.5px 16px;
}
/* nav style end  */

/* hero style  */
#header-hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    text-align: center;
}

.hero-details-container {
    max-width: 770px;
    margin: 0 auto;
    color: #fff;
    padding: 165.5px 295px 179.5px;
}

.hero-heading {
    font-weight: bold;
    font-size: 72px;
    text-transform: capitalize;
}

.hero-heading span {
    color: #469165;
}

.hero-section-description {
    size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 32px;
}

.hero-btn-container {
    display: flex;
    justify-self: center;
    gap: 16px;
}

.works-btn {
    background-color: transparent;
    border: solid white 2px;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;

}


/* header style end  */

/* structure style  */


.structure-header-container {
    text-align: center;
    margin-top: 115px;
    color: #001931;
    margin-bottom: 44px;
}



.structure-card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.structure-card {
    max-width: 274px;
    text-align: center;
    padding: 70px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.structure-card img {
    background: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.structure-card .structure-card-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* structure style end  */


/* second brain style  */

.second-brain-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}



.second-brain-description {
    margin-bottom: 40px;
}

.second-brain-ul li {
    margin-bottom: 16px;
    list-style: none;
    color: #001931;
}

.second-brain-ul li i {
    color: #469165;
}


/* secound brain style end  */

/* thik more clearly section  */

.thik-more-clearly-container{
    background: #F7F6F2;
    border-radius: 12px;
}
.thik-more-clearly-child-container{
    text-align: center;
    padding: 80px 40px;

}
h2.thik-more-clearly-header {
    font-size: 40px;
}
p.thik-more-clearly-description-main{
    line-height: 24px;
    margin-bottom: 24px;
}

button.get-early-access-button {
    margin-bottom: 16px;
}